<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Home page

<hr>
<!-- Display Username-->
User: <span sec:authentication="principal.username"></span>
<br>
<!-- Display roles-->
Role(s): <span sec:authentication="principal.authorities"></span>
<hr>

<hr>
<!-- link for manager -->
<p>
    <a th:href="@{/manager}">manager</a>
    (only for manager)
</p>
<hr>
<!-- link for admin -->
<p>
    <a th:href="@{/admin}">admin</a>
    (only for admins)
</p>
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="logout">
</form>
</body>
</html>